<h1>Richard Therrien</h1>
<h2>Programmeur | Programmer</h2>

<p>
  Bienvenue à ma page personnelle sur GITLAB, ici vous pouvez trouvez les projets que je suis en train de travailler sur et trouver mes informations.
</p>

<p>
    Welcome to my personal GITLAB page, here you can find all the projects that i'm currently working on and get all my contact information.
</p>

<p>
    Project que je suis en train de travailler |Projects that I'm working on:
    <ul>
        <li>H: au One Drive | H: Migration towards One Drive</li>
        <li>Outlook sur 365 | Oulook on O365</li>
        <li>Alimentation avec Powershell | Powershell account automation</li>
    </ul>
</p>